body {
    /* background-color: rgb(235, 115, 115)  */
    background: rgb(255,212,142);
/* background: radial-gradient(circle, rgba(255,212,142,1) 0%, rgba(212,87,115,1) 50%, rgba(255,212,142,1) 100%); */
background: rgb(255,212,142);
background: linear-gradient(180deg, rgba(255,212,142,1) 0%, rgba(212,87,115,1) 50%, rgba(255,212,142,1) 100%);
}

.llamapart1 {
    color: #F0F;
    font-family: Monotype Corsiva;
    font-weight: Bold;
    font-style: Oblique;
    font-stretch: Regular;
}

	
content {
   position: relative;
   align-self: center;
   padding: 3rem 0;
}


.snow {
position: absolute;
min-width: 100vw;
min-height: 100vh;
height: 100%;
width: 100%;
top: 0;
left: 0;
}

.snow .svg {
position: absolute;
width: 100%;
height: 100%;
}

#snow-top-layer {
will-change: transform;
transform: translateY(-768px);
animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
will-change: transform;
transform: translateY(-768px);
animation: fall 45s infinite linear;
}

@keyframes fall {

100% {
   transform: translateY(0);
}

}

.blinking {
    animation: blinkingText 1.9s infinite;
    }
    @keyframes blinkingText {
        0% { color: transparent; }
        49% { color: rgb(116, 10, 138); }
        50% { color: transparent; }
        99% { color: rgb(115, 12, 137); }
        100% { color: transparent; }
    }